[Desktop Entry]
Comment=Future Retro
Name=Nostrum
X-KDE-PluginInfo-Author=Phobian347
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=Nostrum
X-KDE-PluginInfo-Version=1.3
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[ContrastEffect]
enabled=true
contrast=0.8
intensity=1.5
saturation=1.0

[BlurBehindEffect]
enabled=false
