[SddmGreeterTheme]
Name=Nostrum
Description=Funky Future Retro
Author=Phobian347
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=https://www.pling.com/u/phob1an
Screenshot=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=phobian@tutanota.com
Theme-Id=Nostrum
Theme-API=2.0
